*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/plano\ de\ fundo\ 1.png)
}


main{
    background-color: rgba(170, 4, 170, 0.521);
    padding: 30px;
    border-radius: 20px  
}

h1,h2,p,span {
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;

}
h4{
    color: grey;
}
.logo{
    width: 4%;
    height: 23%;
    margin: 0%;
}

.palavra{
    display: flex; 
    justify-content: space-around;
    margin: 4px;
    margin-top: -23px; 
    font-size: 29px;
}

section{
    margin: 3%;
    padding: 4%;
    font-size: 300%;
    flex-direction: column;
    min-width: 162px;
}

.saudacao{
    margin: -2%;

}

.nome{
    margin-top: 5%;
    font-size: 212%;
}

.profissao{
    margin-top: 0%;
    color: greenyellow;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

/*Responsividade cabeçalho*/
@media screen and (max-width: 1921px){
    .imgTI{
        width: 100%;
        height: 100%;
        margin: 0%;
    }
    .saudacao{
        font-size: 165%;
    }
    .palavra{
        font-size: 80%;
    }
    
}
@media screen and (max-width: 1376px){
    .saudacao{
        font-size: 109%;
    }
    .nome{
        font-size: 173%;
    }
    .profissao{
        font-size: 100%;
    }

    .imgTI{
        width: 300px;
        height: 300px;
    }
    
}
@media screen and (max-width: 1100px){
    .cabecalho{
        width: 100%;
        flex-direction: column;
    }  
}

@media screen and (max-width: 768px){
    .saudacao{
        font-size: 100%;
    }  
}

@media screen and (max-width: 749px){
    .tituloInicial{
       font-size: 69%;
    }  
    .imgTI{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-around;
    
    }  
    .cabecalho{
        width: 100%;
        flex-direction: column;
    }  

}
@media screen and (max-width: 360px){
    .tituloInicial{
        font-size: 40%;    
    }  
    .nome{
        margin-top: 2%;
    }
    .palavra{
        font-size: 80%;
        margin: 3%;
        display: flex;
        align-content: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .inicio{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 320px){
    .tituloInicial{
        font-size: 40%;    
    }  
    .imgTI{
        width: 67%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 28%;
    
    } 
    .nome{
        margin-top: 1%;
    }
    .saudacao{
        margin-top: 13%;
        font-size: 94%;
    }   
    .palavra{
        font-size: 60%;
        margin: 3%;
        display: flex;
        align-content: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .inicio{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .logo{
        width: 20px;
        height: 20px;
    }
}  

@media screen and (max-width: 200px){
    .tituloInicial{
        font-size: 40%;    
    }  
    .imgTI{
        width: 67%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 28%;
        
    } 
    .nome{
        margin-top: 1%;
        font-size: 104%;
    }
    .saudacao{
        margin-top: 13%;
        font-size: 115%;
    }
    .profissao{
        margin-top: -2%;
        font-size: 77%;
    }
    .cabecalho{
        width: 89%;
    }
    .palavra{
        font-size: 14px;
        margin-top: 2px;
        display: flex;
    }
    .inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 10px;
    }
}


/*2º Seção apresentação*/
   
.apresentacao
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(img/Plano\ de\ fundo\ 2.png);
    margin: 0;
    
    
}

/*Responsividade da apresentação*/
 @media screen and (max-width: 320px) {
    .tituloAp {
    font-size: 49%;
   }
    
    
 }