@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: linear-gradient(
        45deg, black, #221133 
     );
}

.tamanhodaSecaoAp, .tamanhodaSecaoPro{

    background-color: rgba(116, 106, 106, 0.664);
    border-radius: 20px;
    }


footer{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.tamanhodaSecao{
    margin: 0 3%;
   
}
.cabecalho{
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    }  

.imgTI{
    width: 15rem;
    height: 14rem;
}
 

.saudacao{
     font-size: 30px;
    }

.nome{
    font-size: 80px;
    }

.profissao{
    font-size: 30px;
    }

header{
    height:;
    }
.logo li{
    list-style: none;
    }
a{
    text-decoration: none;
}
.imgSkills{
    width: 70%;
}


/*Cabeçalho*/
section.tamanhodaSecao{
    padding: 40px 4%;
}
.menuNavegacao{
    display: flex;
    align-items: center;
}
.menu-nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    
    
}
.logo{
    display: flex;
    align-items: center;
    list-style-type: none;
    
}
.menuNavegacao ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    display: flex;
}

.navIten{
    margin: 0 15px ;
    width: 1px;
    height: 1px;

}
.mobileMenu{
    display: none;
}
.mobileIcon{
    display: none;
}


/*Responsividade Menu Navegação*/
@media screen and (max-width:730px) {
    .menu-nav{
        padding: 0.5rem 2rem;
    }
    .navIten{
        display: none;
        
    }
    .mobileIcon{
        display: flex;
        
    }
    .mobileIcon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobileMenu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        list-style: none;
        
    }
    .mobileMenu .navIten{
        display: block;
        padding-top: 1.7rem;
        list-style: none;
        
    }
    .open{
        display: block;
    }
}

/*Responsividade Cabeçalho*/

@media screen and (max-width:1920px) {
    .cabecalho{
        padding: 11rem 0;
    }
    
} 
@media screen and (max-width:803px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7px 0;
    }
    .imgTI{
        width: 10rem;
        height: auto;
    }
    .saudacao{
        font-size: 1.5rem;
    }
    .nome{
        font-size: 2.5rem;
    }
    .profissao{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgTI{
        width: 70px;
        height: auto;
    }
    .saudacao{
        font-size: 10px;
    }
    .nome{
        font-size: 25px;
    }
    .profissao{
        font-size: 10px;
    }
    
}
@media screen and (max-width: 360px) {
    .cabecalho{
        color: #ffffff;
        display: flex;
        flex-direction: column;  
    }
    

    .imgTI{
        width: 60px;
        height: auto;
    }
    .saudacao{
        font-size: 12px;
    }
    .nome{
        font-size: 25px;
    }
    .logo li{
        list-style: none;
    }
   
}

/*Apresentação*/
/*.tamanhodaSecaoAp{
    padding: 1rem;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloAp{
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
}
.biografia{
    font-size: 26px;
    text-align: justify;
    text-indent: 45px;
}
.perfil{
    border-radius: 150px;
    transition: transform 0.5s, box-shadow 0.5s;
    margin: 13.2px;
}
.perfil:hover{
    transform: scale(1.1);
    box-shadow: 0  5px rgba(59, 18, 112, 0.2);
}
.apresentacaoMobile{
    display: none;
}
*/
section.sobre{
    padding: 40px 4%;
    background-color: #221133;
}
.flex{
    display: flex;
    align-items: center;
    gap: 60px;
}
.tituloSobre{
    color: aqua;
    font-size: 50px;
}
.paraSobre{
    color: yellowgreen;
    margin: 20px;
    text-align: justify;
}
.imgSobre{
    border-radius: 20px;
}

/*Fim da Apresentação*/

/*Responsividade Apresentação*/

@media screen and (max-width: 768px) {
    .tamanhodaSecaoAp{
        padding: 2rem 1.5rem;
    }
    .tituloAp{
        font-size: 11px;
        margin-top: -10px;
    }
    .biografia{
        font-size: 1rem;
    }
    .perfil{
        width: 11.5rem;
    }

}
@media screen and (max-width:360px) {
    .apresentacao{
        display: none;
    }
    .tituloAp{
        display: none;
    }

    .tituloApMb{
        text-align: center;
        font-size: 12px;
    }
    .apresentacaoMobile{
        display: block;
        margin-top: -28px;
    }
    .biografiaMb{
        font-size: 10px;
        padding: 0px 8px;
        text-align: justify;
    }
    .perfilMb{
        float: left;
        margin-right: 20px;
        width: 60px;
        border-radius: 43px;
    }
    
}

/*Skills*/

/*teste scrol infinito*/
section.scrollInfinito{
    padding: 40px 4%;
}
.test {
    list-style: none;
}
.scrollInfinito{
    background-color: grey;
    
}
.hS{
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
    
}
.hS ul {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: 15s infinite slide linear;
}

.hS ul li {
  flex-shrink: 0; 
}
.hS img{
    width: 150px;
    filter: color(90%);
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}



/*fim do scrol*/

.skills{
    Display: flex;
    justify-content: space-around;
    margin-top: 6%;
    list-style: none;
    flex-direction: row;
    align-items: center;
}
.tituloSkills{
    text-align: center;
    font-size: 32px;
    color: black;
}
.imgSkills{
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    transition: transform 0.5s, box-shadow 0.5s;
    margin: 13.2px;
    border-radius: 15px;
    margin
}
.imgSkills:hover{
    transform: scale(1.1);
    box-shadow: 0  5px rgba(59, 18, 112, 0.2);
}
.tamanhodaSecaoHs{
    margin-top: 20px;
}

/*Fim da skills*/

/*Responsividade Hard Skills*/
@media screen and (max-width:360px) {
    .tamanhodaSecaoHs{
        margin-top: -1rem;
    }
    .tituloSkills{
        font-size: 12px;
    }
    .imgSkills{
        width: 59px;
    }
}

@media screen  and (max-width: 768px) {
    .imgSkills{
        width: 80%;
    }
    .tamanhodaSecaoHs{
        margin-top: -3rem ;
    }
}

    

/*Fim Responsividade HS*/

/*TESTE CARROSEL PROJETOS*/
section.secaoProjetos{
    padding: 40px 4%;
    background-color: #221133;
}
.carrossel{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
 .itemCarrossel{
    position: absolute;
    width: 200px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
 }
 .itemCarrossel img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* FIM DO CARROSEL PROJETOS*/


 
/*Projects*/
.tituloProj{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}
.tituloProjetos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    color: white;
}
.projetos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
}
.botao{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    max-width: 350px;
    transition: transform 0.5s, box-shadow 0.5s;
    margin: 13.2px;
    color: #ffffff;
    font-size: 22px;
}
.botao:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(59, 18, 112, 0.2);
}

.tituloprojeto{
    padding: 4%;
}
.descricaoProj{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}
/*.tamanhodaSecaoPro{
    padding: 11rem 0;
}*/


/*Fim dos projetos*/

/*Responsividade Projetos*/

@media screen and (max-width:768px) {

    .botao{
        width: 150px;
        font-size: 10px
    }
    .tamanhodaSecaoPro{
        padding: 4rem 0;
    }

}
@media screen and (max-width:360px) {
    .tamanhodaSecaoPro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -65px;
        padding: 16px;
    }
   
    .tituloProj{
        font-size: 12px;
    
    }
    .projetos{
        display: flex;
        flex-wrap: nowrap;
    }
    .botao{
        width: 30%;
        font-size: 12px;
    }
    
    
}

/*Footer*/
.footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #ffffff;
}
.textFooter{
    font-size: 22px;
}


/*Responsividade footer*/
@media screen and (max-width: 768px) {
    .textFooter{
        font-size: 10px;
    }
    .imgFooter{
        width: 25px;

    }
    
}
